@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-image: url("../public/images/model3.jpg");
  background-size: cover;
}

.hero1 {
  background-image: url("../public/images/hero.png");
}

.hero2 {
  background-image: url("../public/images/Model-X.jpeg");
}

.hero3 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-image: url("../public/images/Model-S.jpeg");
  background-size: cover;
}

.hero5 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-image: url("../public/images/SolarPanelshouse.avif");
  background-size: cover;
}

.supportbackground {
  background-image: url("..//public/images/SolarPanelshouse.avif"); /* Replace with your image path */
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 30vh; /* 30% of the viewport height */
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 40vh;
  background-image: url("..//public/images/SolarPanelshouse.avif");
}

.animation {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-size: cover;
}
